<!--
private Integer id;
private String owner;
private Date date;
private String from;
private String to;
private String price;
private int totalSeats;
private List<Integer> passengers = new ArrayList<>();-->

<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-4 columns"><label>From<input type="text" ng-model=""></label></div>
            <div class="small-4 columns"><label>To<input type="text" ng-model=""></label></div>
            <div class="small-4 columns"><label>Date<input type="datetime-local" ng-model=""></label></div>
        </div>
        <div class="row">
            <div class="small-4 columns"><label>Price<input type="text" ng-model=""></label></div>
            <div class="small-4 columns"><label>Seats<input type="number" ng-model=""></label></div>
            <div class="small-4 columns"><label><input type="text" ng-model=""></label></div>
        </div>
    </div>
</div>
