<div>
    <form name="register" method="post">
        <div class="row">
            <div class="small-12 columns">
                <h4>After registration you should login with your e-mail and password</h4>
                <div class="row">
                    <div class="small-4 columns">
                        <label>Login:
                            <input type="text" ng-model="user.email" required >
                        </label>
                    </div>
                    <div class="small-4 columns">
                        <label>Password:
                            <input type="password" ng-model="user.password" required>
                        </label>
                    </div>
                    <div class="small-4 columns">
                        <label>Name:
                            <input type="text" ng-model="user.name" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-2 medium-offset-5 columns">
                        <label class="text-center">
                            <a class="button" href=#login ng-click="registerUser()" ng-disabled="register.$invalid">Register now</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
